# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.env/

# VS Code
.vscode/

# Large binary files — do not push
*.npy
*.bin
faiss_index.bin
embeddings.npy
checkpoints/

# Model weights — too large for GitHub
models/finetuned_legal_bert/
models/finetuned_crossencoder/

# Training data — too large
data/training/
data/chunks/chunks.csv
data/chunks/chunks_tagged.csv

# Kaggle
kaggle.json

# OS
.DS_Store
Thumbs.db
faiss_indexes/